.App {
  text-align: center;
  /* background-image: url("https://via.placeholder.com/1920x1080"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}

.content {
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: inline-block;
  margin: 50px auto;
  max-width: 800px;
}

h1 {
  font-size: 2.5rem;
}

.links ul {
  list-style-type: none;
  padding: 0;
}

.links li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  color: #00f;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.link-icon {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.links a:hover {
  text-decoration: underline;
}
